@charset "ISO-8859-1";

body {
  background: url(../resources/qmb.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  color: #black;
  text-align:left;
  float:none;'
 
}

#mainNav {
    background-color: #4365e2!important;
    
}
.nav-link {
	color:white!important;
	}

.nav-link:hover {
  color: #e0e0e0!important;
}

.commentposter {
	color:#808080!important;
}
.navbar-brand {
 
    color: white;
}

.navbar-brand:hover {
  color: #e0e0e0!important;
}

.tp{
	    
	    margin: auto!important;
}

	
/* Container holding the image and the text */
.bodycontainer {
    margin-top: 7%;
    margin-left: 20%;
    margin-right: 20%;
    position: relative;
    padding: 2%;
    color: black;
    background-color: #ffffff;
 float:none;
    
}

.Tablecontainer {

    margin-left: 8%;
    margin-right: 8%;
    position: relative;
    color: black;
    background-color: #ffffff;
	float:none;
    top: 50%;
    left: 50%;
  	transform: translate(-50%, 0%);
  	float:none;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Centered text */
.centered {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Sortable tables */
table.sortable thead {
    background-color:#eee;
    color:#666666;
    font-weight: bold;
    cursor: default;
}

table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after {content: "\25B4\25BE"!important ;}

