@charset "ISO-8859-1";
@charset "ISO-8859-1";

body {
  background: url(../resources/qmb.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  color: #black;
  text-align:left;
  float:none;'
 
}


/* Container holding the image and the text */
.container {
    margin-top: 7%;
    margin-left: 20%;
    margin-right: 20%;
    position: relative;
    padding: 2%;
    color: black;
    background-color: #ffffff;
 float:none;
    
}

.Tablecontainer {

    margin-left: 8%;
    margin-right: 8%;
    position: relative;
    color: black;
    background-color: #ffffff;
	float:none;
    top: 50%;
    left: 50%;
  	transform: translate(-60%, 0%);
float:none;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Centered text */
.centered {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


